* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Main colors */
.menu-index {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  background-image: url("../imagenes/village-background-index-01.jpg");
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  /* background-repeat: repeat-x; */
}

.yokai-village {
  font-family: "titles-font";
  /* font-size: 4rem; */
  color: white;
  background-color: black;
  font-weight: lighter;
  margin-top: -100px;
}
@media only screen and (max-width: 401px) {
  .yokai-village {
    font-size: 2rem;
  }
}
@media only screen and (min-width: 401px) and (max-width: 960px) {
  .yokai-village {
    font-size: 3rem;
  }
}
@media only screen and (min-width: 961px) {
  .yokai-village {
    font-size: 4rem;
  }
}

.galeria-link {
  /* font-size: 2rem; */
  font-family: "titles-font";
  text-decoration: none;
  font-weight: lighter;
  background-color: black;
  color: white;
  max-width: 40%;
  border: none;
}
.galeria-link:hover {
  text-decoration: line-through;
  background: white;
  color: black;
}
@media only screen and (max-width: 401px) {
  .galeria-link {
    font-size: 1rem;
  }
}
@media only screen and (min-width: 401px) and (max-width: 960px) {
  .galeria-link {
    font-size: 1.5rem;
  }
}
@media only screen and (min-width: 961px) {
  .galeria-link {
    font-size: 2rem;
  }
}

.kitsune {
  position: relative;
  top: 40px;
  width: 100px;
  transition: all 0.5s ease-in-out;
}
.kitsune:hover {
  transform: scale(1) translateY(-10px);
  opacity: 0;
}

iframe {
  position: absolute;
  left: 1px;
  bottom: 1px;
}

/* final del welcome */
/* fonts for titles */
@font-face {
  src: url("../fonts/Harakiri Special.otf");
  font-family: "titles-font";
  font-weight: 100;
  font-display: swap;
}
/* content fonts */
@font-face {
  src: url("../fonts/Montserrat-Medium.ttf") format("truetype");
  font-family: "contents-font";
  font-weight: 100;
  font-display: swap;
}
h4 {
  font-family: "titles-font";
}
@media only screen and (max-width: 401px) {
  h4 {
    font-size: 1rem;
  }
}
@media only screen and (min-width: 401px) and (max-width: 960px) {
  h4 {
    font-size: 2rem;
  }
}
@media only screen and (min-width: 961px) {
  h4 {
    font-size: 3rem;
  }
}

p {
  font-family: "contents-font";
  font-size: 1.5rem;
  text-align: justify;
}
@media only screen and (max-width: 401px) {
  p {
    font-size: 0.5;
  }
}
@media only screen and (min-width: 401px) and (max-width: 960px) {
  p {
    font-size: 0.5rem;
  }
}
@media only screen and (min-width: 961px) {
  p {
    font-size: 0.8rem;
  }
}

.header-galeria {
  justify-content: center;
  align-items: center;
  display: flex;
  margin: 125px 0 70px 0;
}
.header-galeria a img {
  max-width: 50px;
  margin: 0 20px;
}
.header-galeria .center img {
  max-width: 100px;
}

/* gallery-cards */
/* titles font */
.container h4 {
  background-color: black;
  display: flex;
  justify-content: center;
  color: white;
}

/* d-flex align-items-center */
.carrousel-texts {
  display: flex;
  align-items: center;
}
.carrousel-texts h4 {
  display: flex;
  justify-content: center;
  color: white;
  background-color: black;
}

/* concepto */
.concepto-grid-container {
  display: flex;
  justify-content: center;
  margin: 4em 0 4em 0;
  width: 100%;
  height: 700px;
  background-color: black;
}
@media only screen and (max-width: 401px) {
  .concepto-grid-container {
    justify-content: center;
    margin: 4em 0 4em 0;
    width: 100%;
    height: 600px;
    background-color: white;
  }
}
@media only screen and (min-width: 401px) and (max-width: 960px) {
  .concepto-grid-container {
    justify-content: center;
    margin: 4em 0 4em 0;
    width: 100%;
    height: 600px;
    background-color: black;
  }
}
@media only screen and (min-width: 961px) {
  .concepto-grid-container {
    justify-content: center;
    margin: 4em 0 4em 0;
    width: 100%;
    height: 700px;
    background-color: black;
  }
}

.concepto-grid {
  justify-content: center;
  width: 70%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 1em;
  padding: 1em 1em 1em 1em;
  z-index: 1;
}
@media only screen and (max-width: 401px) {
  .concepto-grid {
    justify-content: center;
    margin: 4em 0 4em 0;
    width: 100%;
    height: 600px;
    background-color: white;
  }
}
@media only screen and (min-width: 401px) and (max-width: 960px) {
  .concepto-grid {
    justify-content: center;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 1em;
    padding: 1em 1em 1em 1em;
    z-index: 1;
  }
}
@media only screen and (min-width: 961px) {
  .concepto-grid {
    justify-content: center;
    width: 70%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 1em;
    padding: 1em 1em 1em 1em;
    z-index: 1;
  }
}
.concepto-grid .img-creador {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 6;
}
.concepto-grid .img-creador:hover {
  box-shadow: -10px 10px 0px white;
  transition: transform 0.8s;
}
.concepto-grid .img-1-concepto {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 6;
}
.concepto-grid .img-1-concepto:hover {
  transform: scale(2);
  transition: transform 0.8s;
}
.concepto-grid .img-2-concepto {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 3;
  grid-row-end: 6;
}
.concepto-grid .img-2-concepto:hover {
  transform: scale(2);
  transition: transform 0.8s;
}
.concepto-grid .img-3-concepto {
  grid-column-start: 5;
  grid-column-end: 6;
  grid-row-start: 3;
  grid-row-end: 6;
}
.concepto-grid .img-3-concepto:hover {
  transform: scale(2);
  transition: transform 0.8s;
}
.concepto-grid img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
  transition: transform 0.2s;
}
.concepto-grid h4 {
  color: white;
  grid-column-start: 3;
  grid-column-end: 6;
  grid-row-start: 1;
  grid-row-end: 2;
  display: flex;
  justify-content: left;
  align-items: flex-end;
}
.concepto-grid p {
  grid-column-start: 3;
  grid-column-end: 6;
  grid-row-start: 2;
  grid-row-end: 3;
  display: flex;
  justify-content: center;
  color: white;
}

/* mock grids */
.mock-grid-container {
  display: flex;
  justify-content: center;
  background-color: black;
  margin: 4em 0 4em 0;
  width: 100%;
  height: 950px;
}
@media only screen and (max-width: 401px) {
  .mock-grid-container {
    justify-content: center;
    margin: 4em 0 4em 0;
    width: 100%;
    height: 600px;
    background-color: white;
  }
}
@media only screen and (min-width: 401px) and (max-width: 960px) {
  .mock-grid-container {
    justify-content: center;
    margin: 4em 0 4em 0;
    width: 100%;
    height: 600px;
    background-color: black;
  }
}
@media only screen and (min-width: 961px) {
  .mock-grid-container {
    justify-content: center;
    margin: 4em 0 4em 0;
    width: 100%;
    height: 700px;
    background-color: black;
  }
}

.mock-grid {
  width: 70%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
  gap: 1em;
  padding: 1em 1em 1em 1em;
  z-index: 1;
}
@media only screen and (min-width: 401px) and (max-width: 960px) {
  .mock-grid {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    gap: 1em;
    padding: 1em 1em 1em 1em;
    z-index: 1;
  }
}
@media only screen and (min-width: 961px) {
  .mock-grid {
    width: 70%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    gap: 1em;
    padding: 1em 1em 1em 1em;
    z-index: 1;
  }
}
.mock-grid h4 {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-column-start: 6;
  grid-column-end: 9;
  grid-row-start: 6;
  grid-row-end: 7;
  color: white;
}
.mock-grid .mock1 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 9;
}
.mock-grid .mock2 {
  grid-column-start: 3;
  grid-column-end: 6;
  grid-row-start: 1;
  grid-row-end: 4;
}
.mock-grid .mock3 {
  grid-column-start: 6;
  grid-column-end: 9;
  grid-row-start: 1;
  grid-row-end: 6;
}
.mock-grid .mock4 {
  grid-column-start: 3;
  grid-column-end: 6;
  grid-row-start: 4;
  grid-row-end: 6;
}
.mock-grid .mock5 {
  grid-column-start: 3;
  grid-column-end: 6;
  grid-row-start: 6;
  grid-row-end: 9;
}
.mock-grid .mocksinfo {
  display: flex;
  align-items: center;
  grid-column-start: 6;
  grid-column-end: 9;
  grid-row-start: 7;
  grid-row-end: 8;
  color: white;
}
.mock-grid .mock6 {
  grid-column-start: 6;
  grid-column-end: 7;
  grid-row-start: 8;
  grid-row-end: 9;
}
.mock-grid .mock7 {
  grid-column-start: 7;
  grid-column-end: 8;
  grid-row-start: 8;
  grid-row-end: 9;
}
.mock-grid .mock8 {
  grid-column-start: 8;
  grid-column-end: 9;
  grid-row-start: 8;
  grid-row-end: 9;
}
.mock-grid img {
  border-radius: 15px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.2s;
}
.mock-grid img:hover {
  transform: scale(2);
  transition: transform 0.8s;
}

/*# sourceMappingURL=style.css.map */
