.lola-working {
  background-color: $primary-color;
  padding: 133px;
  display: grid;
  gap: 05%;
  grid-template-columns: (2 1fr);
  color: $third-color;

  align-items: center;
  justify-content: center;

  h2 {
    font-family: "titles-font";
    font-weight: lighter;
    font-size: 3rem;
  }

  a {
    font-family: "titles-font";
    background-color: $third-color;
    text-decoration: none;
    font-size: 3rem;
    color: $primary-color;
  }
}
